@font-face {
  font-family: "Exo-ExtraLight";
  src: url("../font/Exo-ExtraLight.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Exo-Bold";
  src: url("../font/Exo-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Exo-ExtraBold";
  src: url("../font/Exo-ExtraBold.ttf");
  font-weight: normal;
  font-style: normal;
}
